<div class="container">
<h1>Search Results</h1>

<div>
<%= link_to 'Advanced event search', search_eventAdvSearch_path %>
</div>
<div>
<%= link_to 'Advanced society search', search_societyAdvSearch_path %>
</div>

<% if !@events.nil? %>
<h3>Events</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, :controller => 'events', :action => 'show', :id => event.id %></td>
        <td><%= event.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<% if !@societies.nil? %>
<h3>Societies</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Society Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @societies.each do |society| %>
      <tr>
        <td><%= link_to society.name, :controller => 'societies', :action => 'show', :id => society.id %></td>
        <td><%= society.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>