<h1>Advanced Event Search</h1>

<%= form_tag(search_dispResults_path, method: "get") do %>
  <div class="field">
  <%= label_tag(:name, "Name:") %>
  <%= text_field_tag(:name) %>
  </div>

  <div class="field">
  <%= label_tag(:location, "Location:") %>
  <%= text_field_tag(:location) %>
  </div>

  <div class="field">
  <%= label_tag(:date, "Date:") %>
  <%= text_field_tag(:date) %>
  </div>

  <div class="field">
  <%= label_tag(:startTime, "Start time:") %>
  <%= text_field_tag(:startTime) %>
  </div>

  <div class="field">
  <%= label_tag(:endTime, "End time:") %>
  <%= text_field_tag(:endTime) %>
  </div>

  <div class="field">
  <%= label_tag(:description, "Description:") %>
  <%= text_field_tag(:description) %>
  </div>

  <div class="field">
  <%= label_tag(:membersOnly, "Members only:") %>
    <%= check_box_tag :membersOnly %>
  </div>

  <div class="field">
  <%= label_tag(:nonMembers, "Non-members allowed:") %>
    <%= check_box_tag :nonMembers %>
  </div>

  <div class="field">
  <%= label_tag(:society, "Society:") %>
    <%= collection_select(:society, :society_id, Society.all, :id, :name, prompt: true) %>
  </div>

  <!--Pass a hidden parameter so the search controller knows where the search came from -->
  <input id="token" name="token" type="hidden" value="eventAdvSearch" />

  <%= submit_tag("Search")%>
<% end %>
