  <!--Additional user fields-->

  <div><%= f.label :firstName %><br />
    <%= f.text_field :firstName %></div>

  <div><%= f.label :lastName %><br />
    <%= f.text_field :lastName %></div>

  <div><%= f.label :phoneNum %><br />
    <%= f.text_field :phoneNum %></div>

  <div><%= f.label :address %><br />
    <%= f.text_field :address %></div>