<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :startTime %><br>
    <%= f.text_field :startTime %>
  </div>
  <div class="field">
    <%= f.label :endTime %><br>
    <%= f.text_field :endTime %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :membersOnly %><br>
    <%= f.check_box :membersOnly %>
  </div>
  <!-- Justin said it's better to have this part in the controller instead. More marks zone -->
<!--   <div class="field">
    <%= f.label :society %><br>
    <%= f.collection_select( :society_id, Society.all, :id, :name, prompt: true) %>
  </div> -->
  <div>
  <%= f.label :societies %>
  <%= select_tag "organizing_societies", options_from_collection_for_select(Society.all, 'id', 'name',@event.societies.map{ |j| j.id }), :multiple => true %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
