<% provide(:title, 'Societies') %>

<div class="container">
<h1>Listing societies</h1>

<div>
<%= link_to 'Advanced society search', search_societyAdvSearch_path %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @societies.each do |society| %>
      <tr>
        <td><%= link_to society.name, society %></td>
        <td><%= society.description %></td>
        <!-- <td><%= link_to 'Show', society %></td> -->
        <% if user_signed_in? && current_user.webAdmin %>
          <td><%= link_to 'Edit', edit_society_path(society) %></td>
          <td><%= link_to 'Destroy', society, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Society', new_society_path %>
<% end %>
</div>