<% provide(:title, 'Society - ' + @society.name) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @society.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @society.description %>
</p>

<p>
  <strong>Membershipfee:</strong>
  <%= @society.membershipFee %>
</p>

<p>
  <strong>Events:</strong>
  <%= @society.events.all %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @society.verified %>
</p>

<% if user_signed_in? %>
	<%= link_to 'Edit', edit_society_path(@society) %> |
<% end %>
<%= link_to 'Back', societies_path %>
